.activeLink {
  color: var(--mainBlue);
  background-color: white;
  border: none;
  border-bottom: 2px solid var(--lightBlue);
  transition: 0.2s ease-in;
}

.noActiveLink {
  color: var(--offBlack);
}
.noActiveLink:hover {
  color: var(--mainBlue);
  transition: 0.3s ease-in;
}

.dashboardImg {
  width: 50%;
  height: 7.678rem;
}

.h1 {
  font-size: clamp(1.4rem, 4vw, 1.625rem) !important;
}

.imgStudent {
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
}

.loginDiv {
  position: relative;
  width: 100%;
  height: 400px;
}
.bgImgTop {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-size: 268px;
  opacity: 10%;
  position: absolute;
  top: -11rem;
  right: -8rem;
  bottom: 0;
  left: 0;
}

.formDiv {
  width: 569px;
  margin: 0 90px;
}

.bgImgBttom {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-size: 20%;
  filter: brightness(150%);
  position: absolute;
  top: 0;
  right: 42rem;
  bottom: -6rem;
  left: 0;
  z-index: -1;
  opacity: 18%;
}

.btnSize {
  min-width: 202px;
}

@media (max-width: 280px) {
  .btnWidth {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .formDiv {
    width: 95%;
    margin: auto;
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  .border {
    border-bottom: 1px solid #cfcfd0;
  }
  .btnSize {
    min-width: 260px;
  }
  .formDiv {
    width: 95%;
    margin: auto;
    margin-top: 250px;
  }
}

@media (min-width: 1024px) {
  .imgStudent {
    width: 50%;
    height: 100vh;
  }
  .formBox {
    width: 50%;
  }
  .formDiv {
    width: 569px;
    margin: 0 90px;
  }
}
