.paymentBg {
  background-color: var(--paleSkyBlue);
}

.fileUpload {
  border: 1px dotted !important;
  background-color: var(--paleBlue);
}

.h1 {
  font-size: clamp(1.1rem, 4vw, 1.8rem) !important;
}

.pStyle {
  font-size: clamp(1rem, 4vw, 1.2rem) !important;
}

.tstyle {
  color: var(--offBlack);
  font-weight: 600;
  font-size: 0.884rem;
}

.btnSize {
  min-width: 100%;
}

.imgPosition {
  position: absolute;
  top: -13%;
  right: 0;
}

@media (min-width: 767px) {
  .btnSize {
    min-width: 125px;
  }
  .imgPosition {
    top: -15%;
  }
}

@media (min-width: 967px) {
  .btnSize {
    min-width: 180px;
  }
}
@media (max-width: 374px) {
  .btnWidth {
    width: 100%;
  }
}
