* {
  text-decoration: none !important;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mainBlue: #1f2666;
  --mainWhite: #ffffff;
  --offWhite: #8f92b3;
  --offBlack: #747474;
  --offBlue: #f3f9ff;
  --deepBlack: #292929;
  --mainGreen: #589a15;
  --mainRed: #e00017;
  --lightBlue: #0266f4;
  --mainBlack: #1e1e1e;
  --greyLight: #cfcfd0;
  --lightGrey: #f1efef;
}
/* Nav styles */
nav {
  background-color: var(--mainBlue);
  min-height: 10rem;
}
/* heading */
h1,
h2 {
  font-weight: 700 !important;
}

/* form */
form {
  font-weight: 600;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover * {
  transition: 0.3s ease all;
  color: var(--mainWhite);
  filter: brightness(80%);
}

body {
  max-width: 1536px !important;
  margin: 0 auto !important;
}

button {
  transition: border-color 0.25s !important;
}
button:hover {
  filter: brightness(90%) !important;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cursor {
  cursor: pointer;
}

.outlet {
  width: 100%;
}

.activeLink {
  color: var(--mainWhite);
}
.no_activeLink {
  color: var(--offWhite);
}

::placeholder {
  color: var(--offBlack) !important;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-toggle {
  background-color: var(--offBlue) !important;
  color: var(--mainBlue) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--mainBlue) !important;
  background-color: white !important;
  border: none;
  border-bottom: 2px solid var(--lightBlue) !important;
}

.nav-tabs {
  border-bottom: 2px solid var(--greyLight) !important;
}

.nav-tabs .nav-link {
  color: var(--offBlack);
}
.nav-tabs .nav-link:hover {
  color: gray;
}
/* hr */
.horizontal-rule {
  background-color: rgba(255, 255, 255, 0.4);
  width: 0.5px;
  height: 0.5px;
}
/* footer */
footer {
  background-color: var(--mainBlue);
  min-height: 10rem;
  margin-top: 4rem;
}

.footer-inner {
  height: 10rem;
}
.footer-inner h4 {
  font-weight: 600;
  font-size: 16px;
  color: var(--mainWhite);
}
.footer-inner p {
  font-weight: 400;
  font-size: 12px;
  color: var(--greyLight);
}

@media (min-width: 768px) {
  .searchBox {
    width: 300px;
  }

  .sidebar {
    width: 100px;
    background-color: var(--mainBlue);
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .outlet {
    width: calc(100% - 100px);
    margin: 0 0 0 100px;
  }
}
@media (min-width: 1024px) {
  .searchBox {
    width: 400px;
  }
}
